button {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.calc {
  min-width: 500px;
}

.display {
  background-color: #858693;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2%;
  height: 4rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #653b1a;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.btn-normal {
  display: flex;
  min-width: calc(25%);
  height: 4rem;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.orange {
  background-color: #f5913e;
  border-bottom: 1px solid #d1d1d1;
  border-right: none;
  color: #653b1a;
  font-weight: 800;
  font-size: 1.5rem;
}

.first {
  padding-top: 1px;
  border-top: none;
}

.gray {
  border-bottom: 1px solid #d1d1d1;
  color: #653b1a;
  font-weight: 800;
  font-size: 1.5rem;
}

.double {
  min-width: calc(50% - 1px);
  text-align: center;
  border-bottom: none;
}

.last {
  border-bottom: none;
}
