.quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  padding: 0 2rem;
}

.quote > h2 {
  display: block;
  width: 100%;
}

.quote-line {
  max-width: 80%;
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: #f5913e;
  border: 2px solid #412611;
  border-radius: 15px;
  padding: 1rem;
}
